{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">Tech & Travel enthusiast.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, I'm Aravind! I am a Cloud Solution Architect passionate about helping organizations unlock the full potential of Cloud and AI-driven solutions. Welcome to my blog where I share my thoughts, learnings, and experiences in technology and software development.
        </p>
        <p>
          Connect with me:
        </p>
        <ul>
          <li><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/aravinds93/" target="_blank">linkedin.com/in/aravinds93</a></li>
          <li><strong>GitHub:</strong> <a href="https://github.com/arvie993" target="_blank">github.com/arvie993</a></li>
          <li><strong>Email:</strong> <a href="mailto:arv993@gmail.com">arv993@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
